.form {
  margin: 1em auto;
  max-width: $reading-zone-width;
}

textarea, input, select {
  font-family: $content-font-family;
}

.form-group {
  display: flex;
  flex-direction: column;
  textarea {
    box-sizing: border-box;
    min-height: 64px;
  }
  label {
    color: $text-color;
    display: block;
    font-weight: bold;
    line-height: 1em;
    text-transform: capitalize;
  }
  .input-control {
    background: lighten($app-background, 5%);
    border: 1px solid #ccc;
    border-radius: $app-border-radius;
    color: $text-color;
    display: block;
    flex: 1 1 auto;
    font-size: 0.8em;
    margin: 4px 0;
    padding: 8px;
    outline: none;
    &:focus,
    &:active {
      border-color: $active-color;
    }
  }
  + .form-group {
    margin-top: 1em;
  }
}
