.app {
  background: $app-background;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  &__section {
    padding-bottom: 48px;
    flex: 1;
  }
  &__header {
    background: $header-background;
    box-shadow: 0px 0px 5px 1px #dedede;
    color: $header-text-color;
    h1 {
      margin: 0;
    }
  }
  &__footer {
    background: $footer-background;
    color: $footer-text-color;
    margin-top: 3em;
    height: 3em;
    position: fixed;
    bottom: 0;
    width: 100%;
    .content {
      padding: 0.5em 1em;
    }
  }
  .content {
    max-width: 90%;
    margin: 0 auto;
    padding: 1em;
    &.main {
      line-height: 2em;
      margin: 0 auto;
      text-align: justify;
      width: 70%;
    }
  }
}
