.paragraph-list {
  background: $paragraph-background;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto 2em;
  max-width: $reading-zone-width;
  height: 90%;
  overflow: hidden;
  transition: all 300ms ease-out;
  h2 {
    text-align: center;
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1em;
    font-weight: bold;
  }
  .remove-all-paragraphs {
    margin: 0.5em calc(50% - 52px) 1em;
  }
}

.paragraph {
  margin: 0;
  padding: 1em 0.5em;
  position: relative;
  transition: all 300ms ease-out;
  &:hover,
  &:focus {
    .read-paragraph {
      opacity: 1;
    }
  }
  &:first-of-type {
    .read-paragraph {
      opacity: 1;
    }
  }
  &__content {
    padding: 0 1em;
  }
  &.not-visible {
    background: darken($paragraph-background, 8%);
    opacity: 0.4;
    .read-paragraph {
      opacity: 0.5;
      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
  .read-paragraph {
    font-size: 0.8em;
    opacity: 0.5;
  }
}

.operations-bar {
  padding: 0 1em;
  width: 100%;
}
