html {
  color: $text-color;
  font-family: $content-font-family;
  font-size: 18px;
}

.content {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: bold;
  line-height: 1.5em;
  margin: 1em 0 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.block-margins {
  margin: 1em 0;
}

.unordered-list {
  list-style-type: disc;
}

.ordered-list {
  list-style: decimal;
}