// Colors
$active-color: #204fa7;
$text-color: #272727;

// Layout
$header-background: #fff100;
$header-text-color: #272727;
$footer-background: #272727;
$footer-text-color: #ccc;
$app-border-radius: 4px;

// Buttons
$btn--danger-text-color: #ff6f6f;
$btn--action-bg-color: #204fa7;
$btn--action-text-color: #fefefe;
$btn--primary-text-color:#204fa7;
$btn--success-text-color: #36aa63;

// Typography
$heading-font-family: 'Source Sans Pro', sans-serif;
$content-font-family: 'Thasadith', sans-serif;