// Layout
$header-background: #ffd900;
$header-text-color: #272727;
$footer-background: #272727;
$footer-text-color: #ccc;

// Typography
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro');

$heading-font-family: 'Playfair Display', serif;
$content-font-family: 'Source Sans Pro', sans-serif;